/* Common styling for the Example skin */

@import "variables.less";

// Reset

html, body, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  overflow-x: hidden;
}

#p-personal, #p-personal-mobile, #ims-sidebar, #ims-sidebar-mobile, #site-footer {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;      
  }
}

// Typography

body {
  font-family: @text-typefaces;
  font-size: @secondary-text-size;
  line-height: @text-line-height;
  position: relative;
  height: auto;
  min-height: 100% !important;
  display: flex;
}

// Page layout

// hidden elements
//#page-tools h3,
#p-search h3,
#p-navigation h3,
//#p-tb h3,
#p-personal h3 { .hidden; }
#siteSub { display: none; }

#mw-wrapper {
  flex: 1 0 auto;
  min-width: 244px;
  height: auto;
  min-height: 100% !important;

  @media (min-width: @bp-one) {
    display: grid;
    grid-template-columns: @sidebar-width 1fr;
    grid-gap: @grid-gap;    
    grid-auto-rows: minmax(100px, auto);
  }
}


// Hiding the personal menu on mobile to the drawer
#p-personal {
  @media (max-width: (@bp-one - 1)) {
    display: none;
  }  
}


// Sidebars

// Desktop only element
#ims-sidebar {
  display: none;
  
  @media (min-width: @bp-one) {
    display: block;
    z-index: 999;
    box-shadow: none;
  }
}

// Mobile only element
#ims-sidebar-mobile {
  display: none;
  z-index: 999;
  box-shadow: @sidebar-shadow;
  width: 66%;
  max-width: 20em;
  height: 100%;
  overflow-y: scroll;
  padding: 1em 2em 0 2em;

  &.active {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
  }
}

// Mobile only button to show mobile sidebar
#ims-sidebar-trigger {
  display: none;
  @media (max-width: (@bp-one - 1)) {
    display: block;
    margin-right: 1.5em;
  }  
}

// Sidebars shared styling
#ims-sidebar, #ims-sidebar-mobile {
  background: @sidebar-bg;
  color: @sidebar-fg;
  padding: 0 2em;
  font-weight: 300;
  letter-spacing: @dark-bg-letter-spacing;

  a {
    color: @sidebar-fg;
    text-decoration: none;
    &:hover, &:focus {
      color: @accent-color-one;
    }
  }

  nav {
    padding: .75em 0;
  }

  #p-navigation {
    font-size: @text-size;
    font-weight: 500;
  }
}

.main-wrapper {
  z-index: 1;

  @media (max-width: (@bp-one - 1)) {
    margin: 0 @grid-gap;
  }
  @media (min-width: @bp-one) {
    margin-right: @grid-gap;
  }

  display: flex;
  flex: 1 0 auto;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
}

#content-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}

#site-header {
  @media (max-width: (@bp-one - 1)) {
    flex-direction: row-reverse;
  }
}

#site-header, #site-footer {
  padding: 1em 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  min-height: 70px;

  ul {
    display: flex;
    flex-wrap: wrap;
    li {
      margin-right: 1.5em;
    }
  }

  a {
    text-decoration: none;
    &:hover, &:focus {
      text-decoration: underline;
    }
  }
}

#site-footer {
  align-items: end;
}

#ims-logo {
  display: flex;
  justify-content: center;
  padding-top: 1em;

  // Make logo image visible
  // The class sets the background image from $wgLogo, but we still need to give it a size in order to show up
  a.mw-wiki-logo {
    display: block;
    content: '';
    width: 10em;
    height: 7em;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
}

.mw-body {
  position: relative;
  word-wrap: break-word;  
  max-width: 914px;
  padding: 1em 0;
  flex: 1 0 auto;

  .mw-parser-output {
    font-size: @text-size;
  }
}

#page-tools, #p-tb, #p-personal-mobile {
  h3 {
    font-size: @secondary-text-size * .6;
    font-weight: normal;
    letter-spacing: @dark-bg-letter-spacing * 20;
    text-transform: uppercase;    
  }
}

#userloginForm {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


&.page-Main_Page {
  &.action-edit {
    .firstHeading {
      display: block !important;
    }
  }

  &.action-view {
    .firstHeading {
      display: none;
    }    
  }
}

// Elements

// .firstHeading {
//   margin-top: 0;
//   font-size: 36px;
//   line-height: @text-line-height * 1.35;
// }

// h1.mw-headline {
//   font-size: 36px;
//   line-height: @text-line-height * 1.35;
// }

// h2.mw-headline {
//   font-size: 24px;
//   line-height: @text-line-height * 1.15;
// }

// h1 {
//   line-height: @text-line-height * 1.35;
//   font-size: 36px;
// }

// h2 {
//   line-height: @text-line-height * 1.15;
//   font-size: 24px;
// }

// h1, h2, h3, h4, h5, h6 {
//   .mw-headline {
//     display: inline-block;
//     margin: (@base-margin * 2) 0 (@base-margin * .25) 0;    
//   }
// }

hr {
  height: 0;
  border: none;
  border-bottom: @solid-light-border;
}

.previewnote {
  p {
    text-indent: 0;
    margin: 0;
  }
}

.oo-ui-buttonElement-button {
  line-height: initial;
}

.toc {
  font-size: @text-size;
  padding: .5em 1em;
  margin: 1em 0;
  background: #f8f9fa;
  border: 1px solid #a2a9b1;
  max-width: max-content;

  .toctogglespan {
    font-size: small;
  }
  
  h2 {
    display: inline-block;
    font-size: @text-size;
    text-align: center;
    margin: 0;
  }

  a {
    text-decoration: none;

    .toctext {
      &:hover, &:focus {
	text-decoration: underline;
      }      
    }
  }

  .tocnumber {
    text-decoration: none;
    color: @text-color;
  }

  ul {
    list-style-type: none;
    margin: .5em 0 0 0;
    padding: 0;      
  }
}

// ---

.mw-indicators {
  float: right;
  margin: 1.5em 0 0 1em;
}

pre {
  overflow: auto;
  white-space: pre-wrap;
}

.center,
.center * {
  margin: auto;
  text-align: center;
}

#editform {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-size: @secondary-text-size;
}

.fixed {
  position: fixed;
}

.hidden {
  display: none;
}
