@import "variables.less";

// Reset

html, body, h1, h2, h3, h4, h5, h6, p, ul, ol, li {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  overflow-x: hidden;
}

#p-personal, #p-personal-mobile, #ims-sidebar, #ims-sidebar-mobile, #site-footer {
  ul {
    list-style-type: none;
  }
}

// Page ayout

body {
  font-family: @text-typefaces;
  //font-size: @secondary-text-size;
  //line-height: @secondary-text-size * @text-ratio;
  font-size: 1rem;
  line-height: 1rem * @base-ratio;
  position: relative;
  height: auto;
  min-height: 100% !important;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

#mw-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  min-width: 244px;
  height: auto;
  min-height: 100% !important;

  @media (min-width: @bp-one) {
    display: grid;
    grid-template-columns: @sidebar-width 1fr;
    grid-gap: 1rem * @base-ratio;    
    grid-auto-rows: minmax(100px, auto);
  }
}

.main-wrapper {
  display: flex;
  flex: 1 0 auto;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1;

  @media (max-width: (@bp-one - 1)) {
    margin: 0 1rem;
  }
  @media (min-width: @bp-one) {
    margin-right: 1rem * @base-ratio;
  }
}

#top-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}

// Desktop only sidebar
#ims-sidebar {
  display: none;
  
  @media (min-width: @bp-one) {
    display: block;
    z-index: 999;
    box-shadow: none;
  }
}

// Mobile only sidebar
#ims-sidebar-mobile {
  display: none;
  z-index: 999;
  box-shadow: @sidebar-shadow;
  width: 60%;
  max-width: 20em;
  height: 100%;
  overflow-y: scroll;

  &.active {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
  }
}

// Mobile only button to show the mobile sidebar
#ims-sidebar-trigger {
  display: none;
  @media (max-width: (@bp-one - 1)) {
    display: block;
  }
}

#ims-sidebar-trigger-icon {
  height: 25px;
  width: 35px;
  // background: url('../resources/menu.svg') no-repeat top left;
  // background-size: contain;
  mask: url('../resources/menu.svg') no-repeat top left;
  mask-size: cover;
  background: black;
  transition: @base-transition;

  &:hover, &:active {
    background: @accent-color-one-dark;
  }
}

// Sidebars shared styling
#ims-sidebar, #ims-sidebar-mobile {
  background: @sidebar-bg;
  color: @sidebar-fg;
  padding: 0 (1rem * @base-ratio);
  font-weight: 300;
  letter-spacing: .1ex;

  a {
    color: @sidebar-fg;
    text-decoration: none;
 
    &:hover, &:focus {
      color: @accent-color-one;
    }
  }

  nav {
    padding: (1rem / @base-ratio) 0;
  }

  #p-navigation {
    font-size: @text-size;
    font-weight: 500;
  }
}

// Hiding the personal menu on mobile. #p-personal-mobile will be displayed instead.
#p-personal {
  @media (max-width: (@bp-one - 1)) {
    display: none;
  }  
}

#site-header {
  @media (max-width: (@bp-one - 1)) {
    flex-direction: row-reverse;
  }
}

#site-header, #site-footer {
  padding: 1rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  min-height: 70px;
  font-size: .8rem;
  line-height: (1rem * @base-ratio) * .8;

  ul {
    display: flex;
    flex-wrap: wrap;
    li {
      margin-right: 1rem * @base-ratio;
    }
  }

  a {
    text-decoration: none;
    transition: @base-transition;

    &:link, &:visited {
      color: black;

      @media (max-width: (@bp-one - 1)) {
	text-decoration: underline;
      }
    }

    &.new {
      color: hsl(10,80%,40%);
    }
    
    &:hover, &:focus {
      color: @accent-color-one-dark;
    }
  }
}

a.new {
  color: hsl(10,80%,40%);
}

#site-footer {
  align-items: end;
}

#ims-logo {
  display: flex;
  justify-content: center;
  padding-top: 1rem;

  // Make logo image visible
  // The class sets the background image from $wgLogo, but we still need to give it a size in order to show up
  a.mw-wiki-logo {
    display: block;
    content: '';
    width: 10rem;
    height: 7rem;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
}

.mw-body {
  position: relative;
  word-wrap: break-word;  
  max-width: 60rem;
  padding: 1rem 0;
  flex: 1 0 auto;

  .mw-parser-output {
    font-size: @text-size;
    line-height: @text-size * @text-ratio;
  }
}

#page-tools, #p-tb, #p-personal-mobile {
  h3 {
    font-size: .5rem;
    font-weight: normal;
    letter-spacing: 1ex * @base-ratio;
    text-transform: uppercase;    
  }
}

#userloginForm {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


&.page-Main_Page {
  &.action-edit, &.action-submit {
    .firstHeading {
      display: block !important;
    }
  }

  &.action-view {
    .firstHeading {
      display: none;
    }    
  }
}

// Typography

p {
  margin: 1rem 0;
}

// main title of the main page
.page-Main_Page h1 {
  font-family: 'Aino-Headline';
  text-transform: lowercase;
  font-weight: 100;

  .mw-editsection {
    font-family: @text-typefaces;
  }
}

body {
  &.action-edit, &.action-submit {
    .firstHeading {
      font-size: 3rem;
      line-height: 3rem;
      font-family: @text-typefaces;
      text-transform: none;
      font-weight: bold;
      margin: 0 0 1rem 0 !important;
    }
  }

  &.page-Main_Page h1, .firstHeading {
    font-family: 'Aino-Headline';
    text-transform: lowercase;
    font-weight: 100;
    margin: 0 0 1rem 0 !important;
    word-wrap: anywhere;

    @media (min-width: @bp-one) {
      font-size: 4.5rem;
      line-height: 4.5rem;
    }
    
    @media (max-width: (@bp-one - 1)) {
      font-size: 2.5rem;
      line-height: 2.5rem;
    }
  }
}

.mw-editsection {
  font-family: @text-typefaces;
}

#mw-content-text {
  //margin-top: 1.65rem;
}

.mw-body-content {
  #contentSub {
    font-size: .8rem;
    line-height: (1rem * @base-ratio) * .8;
  }

  h1 {
    font-size: 3.25rem;
    line-height: 3.25rem;
    margin: (1rem * @base-ratio * 2.25) 0 1rem 0;
  }

  h2 {
    font-size: 2.25rem;
    line-height: 2.25rem;
    margin: (1rem * @base-ratio * 1.75) 0 1rem 0;
  }

  h3 {
    font-size: 1.75rem;
    line-height: 1.75rem;
    margin: (1rem * @base-ratio * 1.35) 0 1rem 0;
  }

  h4 {
    font-size: 1.4rem;
    line-height: 1.4rem;
    margin: (1rem * @base-ratio * 1.15) 0 1rem 0;
  }

  h5 {
    font-size: 1rem;
    line-height: 1rem;
    margin: (1rem * @base-ratio) 0 1rem 0;
    text-transform: uppercase;
    letter-spacing: .618ex;

    .mw-editsection {
      text-transform: none;
      letter-spacing: 0;
    }
  }

  h6 {
    font-size: 1rem;
    line-height: 1rem;
    margin: (1rem * @base-ratio) 0 1rem 0;
  }  
}

// Links

a {
  transition: @base-transition;
}

.mw-body {
  a {
    transition: @base-transition;

    &:link, &:visited {
      color: @accent-color-one-dark;
      text-decoration: none;
    }

    &:hover, &:focus {
      color: black;
    }
  }
}

.searchButton {
  .reset-form-field();
  font-weight: bold;
  font-size: 1rem;
  transition: @base-transition;

  &:hover, &:focus {
    color: @accent-color-one-dark;
  }
}

.catlinks {
  padding: .618rem 1rem;
  margin: (1rem * @base-ratio) 0;
  background: hsla(245, 62%, 88%, 10%);
  border: 1px solid hsla(245, 62%, 88%, 60%);
  max-width: max-content;

  a {
    text-decoration: none;

    // &:hover, &:focus {
    //   text-decoration: underline;
    // }
  }  
}

.toc {
  a {
    text-decoration: none;

    &:hover, &:focus {
      text-decoration: none;
    }

    .tocnumber {
      text-decoration: none;
      color: @text-color;
    }
  }
}

.toctogglelabel {
  color: @accent-color-one-dark;
  text-decoration: none;

  &:hover, &:focus {
    text-decoration: none;
    color: black;
  }
}
// Elements

small {
  font-size: .8rem;
  line-height: (1rem * @base-ratio) * .8;
}

.mw-body {
  ul {
    list-style-type: square;
  }

  ul, ol {
    margin: 0 0 0 1rem;

    li {
      margin-bottom: .16rem;
    }
  }
}

#searchInput {
  .reset-form-field();
  border-bottom: 2px solid @sidebar-bg;
  padding: .3rem 0;
  width: 18vw;
  min-width: 12rem;
}

::placeholder {
  color: white;
  opacity: 1;
}

#p-search {
  display: flex;
  height: 2rem;
  margin-top: -.3rem;
}

// hidden elements
#p-search h3,
#p-navigation h3,
#p-personal h3 { .hidden; }
#siteSub { display: none; }

hr {
  height: 0;
  border: none;
  border-bottom: @solid-light-border;
}

.previewnote {
  p {
    text-indent: 0;
    margin: 0;
  }
}

.oo-ui-buttonElement-button {
  line-height: initial;
}

.toc {
  padding: .618rem 1rem;
  //margin: (1rem * @base-ratio) 0;
  background: hsla(245, 62%, 88%, 10%);
  border: 1px solid hsla(245, 62%, 88%, 60%);
  max-width: max-content;

  .toctogglespan {
    font-size: small;
  }

  .toctitle {
    text-align: center;
  }
  
  h2 {
    display: inline-block;
    font-size: 1em;
    text-align: center;
    margin: 0;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    // nested lists
    ul {
      margin-left: 1rem !important;
    }
  }
}

#editform {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-size: .8rem;
  line-height: (1rem * @base-ratio) * .8;
}

// ---

.mw-indicators {
  float: right;
  margin: 1.5rem 0 0 1rem;
}

pre {
  overflow: auto;
  white-space: pre-wrap;
}

.center,
.center * {
  margin: auto;
  text-align: center;
}


.fixed {
  position: fixed;
}

.hidden {
  display: none;
}
