// @import "mediawiki.mixins"; not used yet

// fundamentals
@base-ratio: 1.618;
@base-transition: color .25s ease-out, opacity .25s ease-out;

// breakpoints
@bp-one: 900px;
@bp-two: 667px;
@bp-three: 375px;

// colors
@accent-color-one: hsl(245,100%,85%);
@accent-color-one-dark: hsl(245,100%,50%);
@accent-color-three-dark: hsl(275,100%,50%);
@accent-color-two: hsl(245,62%,88%);
@green: hsl(161, 100%, 37%);
@violet: hsl(245, 70%, 61%);
@box-bg: hsla(205, 62%, 88%, 10%);
@box-fg: hsla(205, 62%, 88%, 60%);
@red: hsl(10,80%,40%);
@yellow: hsl(45, 100%, 55%);
@yellow-darker: hsl(45, 60%, 45%);
@black: black;
@white: white;
@gray-light: hsl(216, 11%, 91%);
@gray-dark: hsl(216, 11%, 45%);

// typography
@text-color: @black;
@text-typefaces: 'Public Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
@text-size: 1.125rem;
@secondary-text-size: @text-size * .78;
@text-line-height: @text-size * @text-ratio;
@text-ratio: 1.5;
.small {
  font-size: .8rem;
  line-height: (1rem * @base-ratio) * .8;
}

// elements
@solid-light-border: 1px solid lighten(@black, 80%);

// sidebar
@sidebar-bg-day: @gray-light;
@sidebar-bg-night: @gray-dark;
@shadow: .5em .5em 2.5em hsla(0,0,0,80%);
@sidebar-width: 244px;
@dark-bg-letter-spacing: .075ex;

// To hide objects, but keep them accessible for screen-readers
.hidden() {
  position: absolute;
  top: -9999px;
}

.reset-form-field {
  border:none;
  background-image:none;
  background-color:transparent;
  -webkit-box-shadow: none;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  -moz-box-shadow: none;
  border-radius: 0;
  box-shadow: none;  
}
