// @import "mediawiki.mixins"; Not used yet

@width: 66em;
@border: #ccc;
@text-typefaces: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
@text-size: 18px;
@secondary-text-size: @text-size * .78;
@text-line-height: @text-size * 1.5;
@grid-gap: 20px;

@sidebar-bg: hsl(0,0%,10%);
@sidebar-fg: white;
@accent-color-one: hsl(161,100%,73%);
@accent-color-two: hsl(245,62%,88%);

// To hide objects, but keep them accessible for screen-readers
.hidden() {
	position: absolute;
	top: -9999px;
}
